aiofiles==0.8.0
aiohttp==3.8.1
aiohttp-swagger==1.0.16
aiosignal==1.2.0
appnope==0.1.2
async-lru==1.0.2
async-timeout==4.0.2
attrs==21.4.0
backcall==0.2.0
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.9
colorama==0.4.4
cryptography==36.0.1
decorator==5.1.0
dill==0.3.4
distro==1.6.0
frozenlist==1.2.0
future==0.18.2
genie==21.12
genie.libs.clean==21.12
genie.libs.conf==21.12
genie.libs.filetransferutils==21.12
genie.libs.health==21.12
genie.libs.ops==21.12
genie.libs.parser==21.12
genie.libs.sdk==21.12
gitdb==4.0.9
GitPython==3.1.18
idna==3.3
importlib-metadata==4.10.0
ipdb==0.13.9
ipython==7.30.1
jedi==0.18.1
Jinja2==3.0.3
jsonpickle==2.0.0
junit-xml==1.9
lxml==4.7.1
MarkupSafe==2.0.1
matplotlib-inline==0.1.3
multidict==5.2.0
mypy-extensions==0.4.3
netaddr==0.8.0
nornir==3.2.0
nornir-scrapli==2021.7.30
nornir-utils==0.1.2
ntc-templates==2.3.2
parso==0.8.3
pathspec==0.9.0
pexpect==4.8.0
pickleshare==0.7.5
prettytable==2.5.0
prompt-toolkit==3.0.24
psutil==5.9.0
ptyprocess==0.7.0
pyats==21.12
pyats.aereport==21.12
pyats.aetest==21.12
pyats.async==21.12
pyats.connections==21.12
pyats.datastructures==21.12
pyats.easypy==21.12
pyats.kleenex==21.12
pyats.log==21.12
pyats.reporter==21.12
pyats.results==21.12
pyats.tcl==21.12
pyats.topology==21.12
pyats.utils==21.12
pycparser==2.21
pyftpdlib==1.5.6
Pygments==2.11.1
python-engineio==3.14.2
python-socketio==4.6.1
PyYAML==6.0
requests==2.26.0
ruamel.yaml==0.17.19
ruamel.yaml.clib==0.2.6
scrapli==2021.7.30
scrapli-cfg==2021.7.30
scrapli-community==2021.7.30
scrapli-netconf==2021.7.30
six==1.16.0
smmap==5.0.0
textfsm==1.1.2
tftpy==0.8.0
toml==0.10.2
tqdm==4.62.3
traitlets==5.1.1
typing-extensions==3.10.0.2
unicon==21.12
unicon.plugins==21.12
urllib3==1.26.7
wcwidth==0.2.5
xmltodict==0.12.0
yamllint==1.26.3
yarl==1.7.2
zipp==3.7.0
