{% for intf in host.facts.interfaces %}
int {{ intf.name }}
ip address {{ intf.ip }} {{ intf.netmask }}
no shutdown
{% endfor %}

router ospf 1
{% for intf in host.facts.interfaces %}
{% if intf.ip == host.facts.bgp.rid %}
network {{ intf.ip }} 0.0.0.0 area {{ host.facts.ospf.area }}
{% endif %}
{% endfor %}

router bgp {{ host.facts.bgp.asn }}
bgp router-id {{ host.facts.bgp.rid }}
{% for neighbor in host.facts.bgp.neighbors %}
neighbor {{ neighbor.remote_ip }} remote-as {{ neighbor.remote_as }}
neighbor {{ neighbor.remote_ip }} update-source {{ host.facts.bgp.source }}
neighbor {{ neighbor.remote_ip }} soft-reconfiguration inbound
{% endfor %}
{% for intf in host.facts.interfaces %}
{% if intf.ip != host.facts.bgp.rid %}
network {{ intf.ip }} mask {{ intf.netmask }}
{% endif %}
{% endfor %}

